/* Dispaly */
.box-flex-cl {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.d-flex-cl {
    display: flex;
    flex-direction: column;
}
.gap-10 {
    gap: 10px;
}
.gap-5 {
    gap: 5px;
}
.d-flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.jcc {
    justify-content: center;
}
.jcsb {
    justify-content: space-between;
}
.aic {
    align-items: center;
}
.aie {
    align-items: flex-end;
}
.page-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    gap: 20px;
    margin-top: 40px;
}
@media (max-width: 767px) {
    .page-grid {
        grid-template-columns: 1fr;
    }
}
/* Position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* Padding and Margin */
.p-20 {
    padding: 20px;
}
.p-20-tb {
    padding-top: 20px;
    padding-bottom: 20px;
}
.p-20-lr {
    padding-left: 20px;
    padding-right: 20px;
}
.p-15 {
    padding: 15px;
}
.p-10 {
    padding: 10px;
}
.p-10-tb {
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-5 {
    padding: 5px;
}
.p-5-tb {
    padding-top: 5px;
    padding-bottom: 5px;
}
.p-t-0 {
    padding-top: 0;
}
.p-holder {
    padding: 10px 20px 20px;
}
.m-0 {
    margin: 0;
}
.m-20 {
    margin: 20px;
}
/* Colors */
.light-black {
    color: #777;
}
/* Font */
.ph {
    font-size: 14px;
}
@media (max-width:567px) {
    .ph {
    font-size: 12px;
}
}
.fss {
    font-size: 12px;
}
.fb {
    font-weight: bold;
}
/* Shape */
.brr-10 {
    border-radius: 10px;
}
.brr-5 {
    border-radius: 5px;
}
.brr-cercle {
    border-radius: 50%;
}